$theme-colors: (
  "primary": rgb(1, 117, 82),
  "secondary": rgb(118, 136, 128),
  "success": rgb(27, 152, 255),
  "danger": rgb(165, 4, 53),
  "warning": rgb(250, 157, 36),
  "info": rgb(107, 200, 200),
  "light": rgb(227, 235, 204),
  "dark": rgb(21, 36, 31),
);

@import "bootstrap-4.1.3/scss/bootstrap.scss";

p {
  font-weight: bolder;
  font-size: larger;
}
